/* eb-garamond-regular - greek-ext_cyrillic_greek_latin-ext_latin_cyrillic-ext */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: local('EB Garamond Regular'), local('EBGaramond-Regular'),
       url('eb-garamond-v9-greek-ext_cyrillic_greek_latin-ext_latin_cyrillic-ext-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('eb-garamond-v9-greek-ext_cyrillic_greek_latin-ext_latin_cyrillic-ext-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* eb-garamond-italic - greek-ext_cyrillic_greek_latin-ext_latin_cyrillic-ext */
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 400;
  src: local('EB Garamond Italic'), local('EBGaramond-Italic'),
       url('eb-garamond-v9-greek-ext_cyrillic_greek_latin-ext_latin_cyrillic-ext-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('eb-garamond-v9-greek-ext_cyrillic_greek_latin-ext_latin_cyrillic-ext-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* eb-garamond-500 - greek-ext_cyrillic_greek_latin-ext_latin_cyrillic-ext */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 500;
  src: local('EB Garamond Medium'), local('EBGaramond-Medium'),
       url('eb-garamond-v9-greek-ext_cyrillic_greek_latin-ext_latin_cyrillic-ext-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('eb-garamond-v9-greek-ext_cyrillic_greek_latin-ext_latin_cyrillic-ext-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* eb-garamond-500italic - greek-ext_cyrillic_greek_latin-ext_latin_cyrillic-ext */
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 500;
  src: local('EB Garamond Medium Italic'), local('EBGaramond-MediumItalic'),
       url('eb-garamond-v9-greek-ext_cyrillic_greek_latin-ext_latin_cyrillic-ext-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('eb-garamond-v9-greek-ext_cyrillic_greek_latin-ext_latin_cyrillic-ext-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* eb-garamond-600 - greek-ext_cyrillic_greek_latin-ext_latin_cyrillic-ext */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 600;
  src: local('EB Garamond SemiBold'), local('EBGaramond-SemiBold'),
       url('eb-garamond-v9-greek-ext_cyrillic_greek_latin-ext_latin_cyrillic-ext-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('eb-garamond-v9-greek-ext_cyrillic_greek_latin-ext_latin_cyrillic-ext-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* eb-garamond-600italic - greek-ext_cyrillic_greek_latin-ext_latin_cyrillic-ext */
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 600;
  src: local('EB Garamond SemiBold Italic'), local('EBGaramond-SemiBoldItalic'),
       url('eb-garamond-v9-greek-ext_cyrillic_greek_latin-ext_latin_cyrillic-ext-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('eb-garamond-v9-greek-ext_cyrillic_greek_latin-ext_latin_cyrillic-ext-600italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* eb-garamond-700 - greek-ext_cyrillic_greek_latin-ext_latin_cyrillic-ext */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 700;
  src: local('EB Garamond Bold'), local('EBGaramond-Bold'),
       url('eb-garamond-v9-greek-ext_cyrillic_greek_latin-ext_latin_cyrillic-ext-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('eb-garamond-v9-greek-ext_cyrillic_greek_latin-ext_latin_cyrillic-ext-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* eb-garamond-700italic - greek-ext_cyrillic_greek_latin-ext_latin_cyrillic-ext */
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 700;
  src: local('EB Garamond Bold Italic'), local('EBGaramond-BoldItalic'),
       url('eb-garamond-v9-greek-ext_cyrillic_greek_latin-ext_latin_cyrillic-ext-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('eb-garamond-v9-greek-ext_cyrillic_greek_latin-ext_latin_cyrillic-ext-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* eb-garamond-800 - greek-ext_cyrillic_greek_latin-ext_latin_cyrillic-ext */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 800;
  src: local('EB Garamond ExtraBold'), local('EBGaramond-ExtraBold'),
       url('eb-garamond-v9-greek-ext_cyrillic_greek_latin-ext_latin_cyrillic-ext-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('eb-garamond-v9-greek-ext_cyrillic_greek_latin-ext_latin_cyrillic-ext-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* eb-garamond-800italic - greek-ext_cyrillic_greek_latin-ext_latin_cyrillic-ext */
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 800;
  src: local('EB Garamond ExtraBold Italic'), local('EBGaramond-ExtraBoldItalic'),
       url('eb-garamond-v9-greek-ext_cyrillic_greek_latin-ext_latin_cyrillic-ext-800italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('eb-garamond-v9-greek-ext_cyrillic_greek_latin-ext_latin_cyrillic-ext-800italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
